/* Ustawienia podstawowe */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.main_width {
    margin: 0 auto;
    width: 1200px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.textColor {
    color: darkturquoise;
    font-weight: bold;
}

/* Nagłówek */

header {
    color: white;
    background-color: black;
    height: 40px;
}

.leftText {
    margin-left: 65px;
}

/* Nawigacja */

.nav-list {
    list-style: none;
    
    padding:0;
    margin:0;
} 

.nav-list_item {
    display: inline-block;
    margin: 0;
    position: relative;
    padding: 40px 0;
    
}

.nav-list_link {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-left: 50px;
    
}

.menu {
    margin-right: 65px;
}

.drop {
    display: none;
    background: black;
    position: absolute;
    top: 80px;
    padding: 15px 0;
    list-style-type: none;
    transform: translateX(-30%);
    left: 50%;


}

.drop-list_item {
    padding: 5px 5px;
}

.drop-list_link {
    padding: 5px 5px;
    text-decoration: none;
    color: white;

}


.drop::before {
    content: ' ';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: black;
    left: 50px;
    top: -5%;
    transform: rotate(45deg);
    position: absolute;
}

.nav-list_item:hover > .drop
{
    display: block;
}

/* Pierwsza sekcja */

.firstSection {
    height: 520px;
    align-items: center;
    background: rgb(217,217,217);
    background: linear-gradient(0deg, rgba(217,217,217,1) 0%, rgba(255,255,255,1) 47%);
}

.arrowL {
    padding-left: 80px;
}

.arrowR {
    padding-right: 80px;
}

.scroll a {
    text-decoration: none;
    color: darkturquoise;
    font-weight: normal;
    font-size: 80px;
    
}

.blackChair {
    background-image: url('../images/black_chair.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 800px;
    height: 400px;
    padding: 25px 25px;
}

.blackChairNotice {
    text-align: center;
}

.blackChairTitle {
    font-size: 40px;

}

.blackChairText {
    padding: 25px 100px;
    line-height: 25px;
}

.button {
    display: flex;
    justify-content: center;
}

.blackChairButton {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: darkturquoise;
    border-radius: 10px;
    font-size: 25px;
}

.blackChairButton a {
    text-decoration: none;
    color: white;
}





